// COLORS
$color-brand: #E67C00;
$color-secondary: #00B8B8;
$color-billiards-cloth: #00B94A;
$color-dark: #1c1c1c;
$color-white: #ffffff;
$color-white-transparent: rgba(255, 255, 255, 0.7);

// FONTS
$font-stack: 'TT Firs Neue', "Arial", sans-serif;
