@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-BlackItalic.woff2') format('woff2'),
        url('TTFirsNeue-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-Bold.woff2') format('woff2'),
        url('TTFirsNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-Black.woff2') format('woff2'),
        url('TTFirsNeue-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-ExtraBold.woff2') format('woff2'),
        url('TTFirsNeue-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-Bold.woff2') format('woff2'),
        url('TTFirsNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-Black.woff2') format('woff2'),
        url('TTFirsNeue-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-DemiBold.woff2') format('woff2'),
        url('TTFirsNeue-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-DemiBold.woff2') format('woff2'),
        url('TTFirsNeue-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-BlackItalic.woff2') format('woff2'),
        url('TTFirsNeue-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-DemiBoldItalic.woff2') format('woff2'),
        url('TTFirsNeue-DemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-DemiBoldItalic.woff2') format('woff2'),
        url('TTFirsNeue-DemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-Regular.woff2') format('woff2'),
        url('TTFirsNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-Thin.woff2') format('woff2'),
        url('TTFirsNeue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-ExtraBold.woff2') format('woff2'),
        url('TTFirsNeue-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-Light.woff2') format('woff2'),
        url('TTFirsNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-Thin.woff2') format('woff2'),
        url('TTFirsNeue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-Medium.woff2') format('woff2'),
        url('TTFirsNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-ExtraBoldItalic.woff2') format('woff2'),
        url('TTFirsNeue-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-ExtraLight.woff2') format('woff2'),
        url('TTFirsNeue-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-Italic.woff2') format('woff2'),
        url('TTFirsNeue-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-ExtraBoldItalic.woff2') format('woff2'),
        url('TTFirsNeue-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-Light.woff2') format('woff2'),
        url('TTFirsNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-Regular.woff2') format('woff2'),
        url('TTFirsNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-Medium.woff2') format('woff2'),
        url('TTFirsNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-ExtraLight.woff2') format('woff2'),
        url('TTFirsNeue-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

