.back-link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white;

  &::before {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    background-image: url(../img/icon/back-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    content: '';
  }

  &:hover {
    opacity: 0.8;
  }
}
