.gallery__list {
  @include list-unstyled;
  margin-bottom: -80px;
}

.gallery__item {
  display: flex;
  margin-left: -30px;
  margin-bottom: 80px;

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.gallery__figure {
  margin: 0;
  margin-left: 30px;
}

.gallery__item {

  &:nth-child(odd) {
    .gallery__figure {
      &:nth-child(1) {
        .gallery__design-title {
          padding-left: 100px;
        }
      }
    }
  }

  &:nth-child(even) {
    .gallery__figure {
      &:nth-child(2) {
        .gallery__design-title {
          padding-left: 100px;
        }
      }
    }

    .gallery__figure {
      &:nth-child(1) {
        .gallery__design-title {
          margin-left: 306px;
        }
      }
    }
  }

}

.gallery__design-title {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.gallery__design-heading {
  margin: 0;
  margin-right: 30px;
}

.gallery__design-style {
  margin: 0;
}


@include breakpoint-down(1125px) {

  .gallery__item {

    &:nth-child(odd) {
      .gallery__figure {
        &:nth-child(1) {
          .gallery__design-title {
            padding-left: 20px;
          }
        }
      }
    }
  
    &:nth-child(even) {
      .gallery__figure {
        &:nth-child(2) {
          .gallery__design-title {
            padding-left: 20px;
          }
        }
      }
  
      .gallery__figure {
        &:nth-child(1) {
          .gallery__design-title {
            margin-left: auto;
          }
        }
      }
    }
  
  }

}

@include breakpoint-down(1024px) {

  .gallery__item {

    &:nth-child(odd) {
      .gallery__figure {
        &:nth-child(1) {
          .gallery__design-title {
            padding-left: 0;
          }
        }
      }
    }
  
    &:nth-child(even) {
      .gallery__figure {
        &:nth-child(2) {
          .gallery__design-title {
            padding-left: 0;
          }
        }
      }
    }
  
  }

  .gallery__design-heading {
    margin-right: 20px;
  }

}

@include breakpoint-down(775px) {

  .gallery__item {

    &:nth-child(odd) {
      .gallery__figure {
        &:nth-child(1) {
          .gallery__design-title {
            padding-left: 0;
          }
        }
      }
    }
  
    &:nth-child(even) {
      .gallery__figure {
        &:nth-child(2) {
          .gallery__design-title {
            padding-left: 0;
          }
        }
      }
  
      .gallery__figure {
        &:nth-child(1) {
          .gallery__design-title {
            margin-left: 0;
          }
        }
      }
    }
  
  }

  .gallery__figure {
    display: flex;
    flex-direction: column;
  }

  .gallery__img-design {
    width: 552px;
    flex-grow: 1;
  }

}

@include breakpoint-down(620px) {
  
  .gallery__item {
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 0;
  
    &:nth-child(even) {
      flex-direction: column;
    }

  }

  .gallery__figure {
    margin-left: 0;
    margin-bottom: 54px;
  }

  .gallery__item {

    &:last-child
    .gallery__figure {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .gallery__img-design {
    width: 100%;
    flex-grow: 1;
  }

  .gallery__design-title {
    flex-wrap: wrap;
    padding-left: 20px !important;
  }

}
