.gallery__list {
  @include list-unstyled;
  margin-bottom: -80px;
}

.gallery__item {
  display: flex;
  margin-left: -30px;
  margin-bottom: 80px;

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.gallery__figure-link {
  position: relative;
  z-index: 1;
  display: block;
  text-decoration: none;
  overflow: hidden;

  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    animation: flip-out-ver-right 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse;
    content: '';
  }

  &:hover {

    &::before {
      display: block;
      top: 0;
    }

    .gallery__figure-link-text {
      display: flex;
    }
  }
}

.gallery__figure-link-text {
  width: 160px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: calc(50% - 80px);
  display: none;  
  justify-content: space-between;
  align-items: center;
  font-family: 'TT Firs Neue';
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: $color-white;
  animation: rotate-out-2-cw 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse;

  &:hover svg {
    transform: rotate(43deg);
    transition: transform 0.2s ease;
  }
}

.gallery__item {

  &:nth-child(odd) {
    .gallery__figure {
      &:nth-child(1) {
        .gallery__design-title {
          padding-left: 100px;
        }
      }
    }
  }

  &:nth-child(even) {
    .gallery__figure {
      &:nth-child(2) {
        .gallery__design-title {
          padding-left: 100px;
        }
      }
    }

    .gallery__figure {
      &:nth-child(1) {
        .gallery__design-title {
          margin-left: 306px;
        }
      }
    }
  }

}

.gallery__figure {
  margin: 0;
  margin-left: 30px;
}

.gallery__img-design {
  display: block;
}

.gallery__design-title {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.gallery__design-heading {
  margin: 0;
  margin-right: 30px;
}

.gallery__design-style {
  margin: 0;
}


@include breakpoint-down(1125px) {

  .gallery__item {

    &:nth-child(odd) {
      .gallery__figure {
        &:nth-child(1) {
          .gallery__design-title {
            padding-left: 20px;
          }
        }
      }
    }
  
    &:nth-child(even) {
      .gallery__figure {
        &:nth-child(2) {
          .gallery__design-title {
            padding-left: 20px;
          }
        }
      }
  
      .gallery__figure {
        &:nth-child(1) {
          .gallery__design-title {
            margin-left: auto;
          }
        }
      }
    }
  
  }

}

@include breakpoint-down(1024px) {

  .gallery__item {

    &:nth-child(odd) {
      .gallery__figure {
        &:nth-child(1) {
          .gallery__design-title {
            padding-left: 0;
          }
        }
      }
    }
  
    &:nth-child(even) {
      .gallery__figure {
        &:nth-child(2) {
          .gallery__design-title {
            padding-left: 0;
          }
        }
      }
    }
  
  }

  .gallery__design-heading {
    margin-right: 20px;
  }

}

@include breakpoint-down(775px) {

  .gallery__item {

    &:nth-child(odd) {
      .gallery__figure {
        &:nth-child(1) {
          .gallery__design-title {
            padding-left: 0;
          }
        }
      }
    }
  
    &:nth-child(even) {
      .gallery__figure {
        &:nth-child(2) {
          .gallery__design-title {
            padding-left: 0;
          }
        }
      }
  
      .gallery__figure {
        &:nth-child(1) {
          .gallery__design-title {
            margin-left: 0;
          }
        }
      }
    }
  
  }

  .gallery__figure {
    display: flex;
    flex-direction: column;
  }

  .gallery__img-design {
    width: 552px;
    flex-grow: 1;
  }

}

@include breakpoint-down(620px) {
  
  .gallery__item {
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 0;
  
    &:nth-child(even) {
      flex-direction: column;
    }

  }

  .gallery__figure {
    margin-left: 0;
    margin-bottom: 54px;
  }

  .gallery__item {

    &:last-child
    .gallery__figure {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .gallery__img-design {
    width: 100%;
    flex-grow: 1;
  }

  .gallery__design-title {
    flex-wrap: wrap;
    padding-left: 20px !important;
  }

}

@keyframes link-to-top {

  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }

}

@keyframes flip-out-ver-right {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(70deg);
            transform: rotateY(70deg);
    opacity: 0;
  }
}

@keyframes rotate-out-2-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 0;
  }
}
