.header-projects {
  padding-bottom: 99px;
}

.header-projects__container {
  display: flex;
  align-items: center;
}

.header-projects__logo-link {
  margin: 0 auto;
}


@include breakpoint-down(1024px) {

  .header-projects {
    padding-bottom: 55px;
  }

  .header-projects__logo-link {
    margin: 0;
  }

  .logo-link__back-link {
    display: none;
  }

}
