.services {
  position: relative;
  padding-top: 264px;
  padding-bottom: 301px;
}

.services__content {
  max-width: 536px;
  margin-right: 570px;
}

.services__heading {
  margin-top: 0;
  margin-bottom: 60px;
}

.services__desc {
  margin-top: 0;
  margin-bottom: 30px;
}

.services__desc--second {
  margin-bottom: 80px;
  font-size: 20px;
  line-height: 30px;
}

.services__img {
  position: absolute;
  z-index: 1;
  top: 108px;
  left: calc(50%);
}

.services__img img {
  display: block;
}


@include breakpoint-down(1075px) {

  .services {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .services__content {
    max-width: 466px;
    margin-right: 484px;
  }

  .services__heading {
    margin-bottom: 32px;
  }

  .services__desc {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 24px;
  }

  .services__desc--second {
    margin-bottom: 40px;
  }

  .services__img {
    top: 56px;
  }

}

@include breakpoint-down(846px) {

  .services__content {
    max-width: 360px;
    margin-right: 340px;
  }

  .services__img {
    top: 50%;
    transform: translateY(-50%);
  }

}

@include breakpoint-down(660px) {

  .services {
    padding-top: 480px;
    padding-bottom: 0;
  }

  .services__img {
    top: 0;
    transform: translate(-50%, 0);
    object-fit: cover;
  }

  .services__content {
    max-width: 100%;
    margin-right: 0;
  }

}

@include breakpoint-down(620px) {

  .services {
    padding-top: 84px;
  }

  .services__container {
    display: flex;
    flex-direction: column-reverse;
  }

  .services__img {
    width: 100%;
    position: static;
    inset: 0;
    margin-bottom: 30px;
    transform: translate(0);
  }

  .services__heading {
    font-size: 36px;
    line-height: 46px;
  }

  .services__desc {
    margin-bottom: 24px;
  }

  .services__desc--second {
    margin-bottom: 32px;
  }

}
