.site-header {
  padding-top: 32px;
  padding-bottom: 644px;
  background-image: image-set(
    url(../img/kitchen.jpg) 1x,
    url(../img/kitchen@2x.jpg) 2x,
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__call-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;

  &::before {
    width: 18px;
    height: 18px;
    margin-right: 11px;
    background-image: url(../img/icon/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: center;
    content: '';
  }
}

@include breakpoint-down(990px) {

  .site-header {
    padding-bottom: 415px;
    background-image: image-set(
      url(../img/kitchen-tablet.jpg) 1x,
      url(../img/kitchen-tablet@2x.jpg) 2x
    );
  }

}

@include breakpoint-down(520px) {

  .site-header {
    padding-bottom: 495px;
    background-image: image-set(
      url(../img/kitchen-mobile.jpg) 1x,
      url(../img/kitchen-mobile@2x.jpg) 2x
    );
  }

  .site-header__call-link {
    display: none;
  }

}
